/* Styles de base pour l'image */
.stretchImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
    border: 3px solid #dc3545;
    max-width: 200px; /* Taille maximale par défaut */
    max-height: 200px; /* Taille maximale par défaut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce */
}

/* Effet de survol */
.stretchImage:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée au survol */
}

/* Media query pour les grands écrans */
@media (min-width: 768px) {
    .stretchImage {
        border-radius: 15%; /* Supprime le cercle sur les grands écrans */
        max-width: 300px; /* Nouvelle taille maximale pour les grands écrans */
        max-height: 300px; /* Nouvelle taille maximale pour les grands écrans */
    }
}