.footer {
    padding: 10px;
    background-color: red;
    color: white;
  }
  
  .social_icons {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 20px;
  }
  
  .footer p {
    text-align: center;
  }

  
  .social_icons a {
    font-size: 24px;
    color: white;
    transition: color 0.3s ease;
  }
  
 
.social_icons a:nth-child(1):hover {
    color:black; /* Couleur pour GitHub */
}

.social_icons a:nth-child(2):hover {
    color:blue; /* Couleur pour LinkedIn */
}

.nav-link {
  transition: color 0.3s ease, transform 0.3s ease; /* Animation fluide */
}

.nav-link:hover {
  color: #ffffff; /* Blanc au survol */
  transform: scale(1.1); /* Légèrement agrandi */
}

.nav-link:hover svg {
  color: yellow; /* Change la couleur de l'icône au survol */
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%; /* Barre qui s'étend sous le texte */
}
