@tailwind utilities;

@import "tailwindcss";

@theme {
  --color-primary-50: #fff5f5;
  --color-primary-100: #fed7d7;
  --color-primary-500: #dc3545; /* Votre rouge principal */
  --color-primary-600: #c82333;
  --color-gray-50: #f9fafb;
  --color-gray-900: #111827;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-50);
  color: var(--gray-900);
}